<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}欢迎光临我的博客{% endblock %}

{% block headmessage %}
	<h3>文章列表</h3>
{% endblock %}

{% block content %}
	{% for post in posts %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<p>
				<a href="/post/{{post.slug}}">{{post.title}}</a>
			</p>
		</div>
		<div class="panel-body">
			{{post.body | truncatechars:40}}
		</div>
		<div class="panel-footer">
			发布时间：{{post.pub_date | date:"Y M d , h:m"}}
		</div>
	</div>
	{% endfor %}
{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>welcome my blog</title>
</head>
<body>
	<h1>welcome 我的博客</h1>
	<hr>
	{% for post in posts %}
		<h4>
			<a href="/post/{{post.slug}}">{{post.title}}</a>
		</h4>
		
	{% endfor %}
	<hr>
	<p>现在时间：{{now}}</p>
</body>
</html> -->